@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: #7e5b37;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #8e6025 0%, #fcbd5e 99%, #f1d17b 100%);
}

.img, .content {
    text-align: center;
}

.img {
    height: auto;
}

.content {
    margin-top: 20px;
    margin-left: 5%;
}

h1.title {
    font-size: 6em;
    margin: 10px 0;
    font-weight: bold;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #452903;
}

h3.subtitle {
    font-size: 2em;
    margin: 10px 0;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-weight:lighter;
}

p.description {
    font-size: 1em;
    margin: 20px 0;
    padding-left: 10%;
    color: #452903;
}

nav {
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.button.ghost {
    background-color: transparent;
    border: 2px solid #7e5b37;
    color: #7e5b37;
}

.button.poison {
    background-color: #7e5b37;
    border: 2px solid #7e5b37;
    color: #FFF;
}

.button.ghost:hover {
    background-color: #7e5b37;
    color: #FFF;
}

.button.poison:hover {
    background-color: transparent;
    color: #7e5b37;
}